{% load mediapath %}

<!-- 'Карточка товара' -->
<div class="col">
    <div class="card shadow-sm">
        <img class="card-img-top" src="{{ object.image|mediapath }}" alt="{{ object.name }}">
        <div class="card-body">
            <p class="card-text mb-4">
                {% if object.in_stock %}
                    Название: {{ object.name }}<br>
                    Категория: {{ object.category }}<br>
                    Описание: {{ object.description }}<br>
                    Цена: {{ object.price }}<br>
                    <!-- 'Отображение активной версии в карточке товара' -->
                    {% for version in object.version_set.all %}
                        {% if version.is_active_version %}
                            Активная версия: {{ version.version_name }}
                        {% endif %}
                    {% empty %}
                        <span class="text-muted">Нет активной версии</span>
                    {% endfor %}
                {% else %}
                    <span class="text-muted">Нет в наличии</span>
                {% endif %}
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'catalog:product_detail' object.pk %}"
                       class="btn btn-sm btn-outline-primary">View</a>
                </div>

            </div>
        </div>
    </div>
</div>
